* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #0D0D0D;
}

figure i {
    font-size: 1.3rem;
    margin: 20px 5px;
    cursor: pointer;
    color: #2B2B2B;
    background-color: #000000a1;
    border: 2px solid #00000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border-radius: 50%;
    padding: 10px;
}

figure i:hover {
    transition: all 0.5s ease;
    color: #561111;
    background-color: #8C1D1D;
    border: 2px solid #8c1d1d00;
}

i {
    font-size: 1rem;
    color: #8C1D1D;
}

header nav {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #151515;
    padding: 8px 50px;
    font-size: 12px;
    color: #666;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #000000;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #EAEAEA;
    transition: 0.3s;
    font-weight: 500;
}

.nav-links a:hover {
    color: #FF6A3D;
}

.btn-cita {
    background-color: #FF6A3D;
    color: #FFFFFF !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-cita:hover {
    background-color: #d4522b;
}

.top-social i, .nav-links i {
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width: 100%) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

}